@charset "UTF-8";
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("@base_url@/css/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: none;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/* Import Skins */
/* Reset Styles */
.ilightbox-overlay, .ilightbox-loader, .ilightbox-loader *, .ilightbox-holder, .ilightbox-holder .ilightbox-container, .ilightbox-holder .ilightbox-container img.ilightbox-image, .ilightbox-holder .ilightbox-container .ilightbox-caption, .ilightbox-toolbar, .ilightbox-toolbar *, .ilightbox-thumbnails, .ilightbox-thumbnails *, .ilightbox-holder .ilightbox-container .ilightbox-social, .ilightbox-holder .ilightbox-container .ilightbox-social * {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none; }

.ilightbox-overlay, .ilightbox-loader, .ilightbox-loader *, .ilightbox-holder .ilightbox-container .ilightbox-caption, .ilightbox-toolbar, .ilightbox-thumbnails, .ilightbox-thumbnails *, .ilightbox-holder .ilightbox-container .ilightbox-social {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0); }

/* Disable & Hide Scrollbar */
.ilightbox-noscroll {
  overflow: hidden; }

.ilightbox-closedhand * {
  cursor: url(@base_url@/css/closedhand.cur), default !important; }

.ilightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000; }

.ilightbox-loader {
  position: fixed;
  z-index: 100005;
  top: 45%;
  left: -192px;
  padding-left: 30px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0; }

.ilightbox-loader div {
  width: 72px;
  height: 72px;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0; }

.ilightbox-loader.horizontal {
  left: 45%;
  top: -192px;
  padding: 0;
  padding-top: 30px;
  -webkit-border-radius: 0 0 100px 100px;
  border-radius: 0 0 100px 100px; }

.ilightbox-loader.horizontal div {
  -webkit-border-radius: 0 0 100px 100px;
  border-radius: 0 0 100px 100px; }

.ilightbox-toolbar {
  display: none;
  position: fixed;
  z-index: 100010; }

.ilightbox-toolbar a {
  float: left;
  cursor: pointer; }

.ilightbox-toolbar .ilightbox-prev-button,
.ilightbox-toolbar .ilightbox-next-button {
  display: none; }

.ilightbox-thumbnails {
  display: block;
  position: fixed;
  z-index: 100009; }

.ilightbox-thumbnails.ilightbox-horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; }

.ilightbox-thumbnails.ilightbox-vertical {
  top: 0;
  right: 0;
  width: 140px;
  height: 100%;
  overflow: hidden; }

.ilightbox-thumbnails .ilightbox-thumbnails-container {
  display: block;
  position: relative; }

.ilightbox-thumbnails.ilightbox-horizontal .ilightbox-thumbnails-container {
  width: 100%;
  height: 100px; }

.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnails-container {
  width: 140px;
  height: 100%; }

.ilightbox-thumbnails .ilightbox-thumbnails-grid {
  display: block;
  position: absolute;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0); }

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail {
  display: block;
  cursor: pointer;
  padding: 10px;
  position: relative; }

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -ms-interpolation-mode: bicubic; }

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7; }

.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon:hover {
  opacity: 1; }

.ilightbox-holder {
  display: none;
  position: fixed;
  z-index: 100003;
  -webkit-transform: none;
  -moz-transform: none; }

.ilightbox-holder.ilightbox-next, .ilightbox-holder.ilightbox-prev {
  cursor: pointer; }

.ilightbox-holder div.ilightbox-container {
  position: relative;
  width: 100%;
  height: 100%; }

.ilightbox-holder.supportTouch div.ilightbox-container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

.ilightbox-holder img.ilightbox-image {
  width: 100%;
  height: 100%; }

.ilightbox-holder .ilightbox-container .ilightbox-caption {
  display: none;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  max-width: 100%;
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 150%;
  word-wrap: break-word;
  z-index: 20003;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.ilightbox-holder .ilightbox-container .ilightbox-social {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  padding-left: 0;
  z-index: 20003;
  height: 16px; }

.ilightbox-holder .ilightbox-container .ilightbox-social ul {
  float: left;
  list-style: none;
  height: 16px; }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li {
  display: inline; }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li a {
  float: left;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50%; }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li.facebook a {
  background-image: url("@base_url@/css/../social_icons/facebook_16.png"); }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li.digg a {
  background-image: url("@base_url@/css/../social_icons/digg_16.png"); }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li.twitter a {
  background-image: url("@base_url@/css/../social_icons/twitter_16.png"); }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li.delicious a {
  background-image: url("@base_url@/css/../social_icons/delicious_16.png"); }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li.reddit a {
  background-image: url("@base_url@/css/../social_icons/reddit_16.png"); }

.ilightbox-holder .ilightbox-container .ilightbox-social ul li.googleplus a {
  background-image: url("@base_url@/css/../social_icons/google_plus_16.png"); }

.ilightbox-holder .ilightbox-alert {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-top: 100px;
  margin: auto;
  width: 300px;
  height: 50px; }

.ilightbox-holder .ilightbox-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.ilightbox-holder .ilightbox-inner-toolbar {
  position: relative;
  z-index: 100; }

.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar {
  position: absolute; }

/* Style arrow buttons */
.ilightbox-button {
  position: fixed;
  z-index: 100008;
  cursor: pointer; }

/* Style mobile devices */
.isMobile .ilightbox-button,
.isMobile .ilightbox-thumbnails {
  display: none !important; }

.isMobile .ilightbox-toolbar .ilightbox-prev-button,
.isMobile .ilightbox-toolbar .ilightbox-next-button {
  display: block; }

/* -----------------------------------
 * Slidebars
 * Version 0.10.3
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.me/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */
html, body, #sb-site, .sb-site-container, .sb-slidebar {
  /* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  overflow-x: hidden;
  /* Stops horizontal scrolling. */ }

html {
  height: 100%;
  /* Site is as tall as device. */ }

body {
  min-height: 100%;
  height: auto;
  position: relative;
  /* Required for static Slidebars to function properly. */ }

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden; }

/* ----------
 * 002 - Site
 */
#sb-site, .sb-site-container {
  /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  /* Site sits above Slidebars */
  background-color: #ffffff;
  /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */ }

/* Micro clearfix by Nicolas Gallagher, ensures the site container hits the top and bottom of the screen. */
#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
  content: ' ';
  display: table; }

#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
  clear: both; }

/* ---------------
 * 003 - Slidebars
 */
.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  top: 0;
  z-index: 0;
  /* Slidebars sit behind sb-site. */
  display: none;
  /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
  background-color: #5b5b5b;
  /* Default Slidebars background colour, overwrite this with your own css. */ }

.sb-slidebar, .sb-slidebar * {
  -webkit-transform: translateZ(0px);
  /* Fixes issues with translated and z-indexed elements on iOS 7. */ }

.sb-left {
  left: 0;
  /* Set Slidebar to the left. */ }

.sb-right {
  right: 0;
  /* Set Slidebar to the right. */ }

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
  position: absolute;
  /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */ }

.sb-slidebar.sb-active {
  display: block;
  /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */ }

.sb-style-overlay {
  z-index: 9999;
  /* Set z-index high to ensure it overlays any other site elements. */ }

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch;
  /* Adds native momentum scrolling for iOS & Android devices. */ }

/* Slidebar widths for browsers/devices that don't support media queries. */
.sb-slidebar {
  width: 30%; }

.sb-width-thin {
  width: 15%; }

.sb-width-wide {
  width: 45%; }

@media (max-width: 480px) {
  /* Slidebar widths on extra small screens. */
  .sb-slidebar {
    width: 70%; }

  .sb-width-thin {
    width: 55%; }

  .sb-width-wide {
    width: 85%; } }
@media (min-width: 481px) {
  /* Slidebar widths on small screens. */
  .sb-slidebar {
    width: 55%; }

  .sb-width-thin {
    width: 40%; }

  .sb-width-wide {
    width: 70%; } }
@media (min-width: 768px) {
  /* Slidebar widths on medium screens. */
  .sb-slidebar {
    width: 40%; }

  .sb-width-thin {
    width: 25%; }

  .sb-width-wide {
    width: 55%; } }
@media (min-width: 992px) {
  /* Slidebar widths on large screens. */
  .sb-slidebar {
    width: 30%; }

  .sb-width-thin {
    width: 15%; }

  .sb-width-wide {
    width: 45%; } }
@media (min-width: 1200px) {
  /* Slidebar widths on extra large screens. */
  .sb-slidebar {
    width: 20%; }

  .sb-width-thin {
    width: 5%; }

  .sb-width-wide {
    width: 35%; } }
/* ---------------
 * 004 - Animation
 */
.sb-slide, .sb-site-container, .sb-slidebar {
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  -o-transform: translate(0px);
  transform: translate(0px);
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  /* Add left/right for Android < 4.4. */
  -webkit-backface-visibility: hidden;
  /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */ }

#sb-site {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  /* Add left/right for Android < 4.4. */
  -webkit-backface-visibility: hidden;
  /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */ }

/* --------------------
 * 005 - Helper Classes
 */
.sb-hide {
  display: none;
  /* Optionally applied to control classes when Slidebars is disabled over a certain width. */ }

/* ------------------------ DESENVOLVIDO POR -------------------------------  */
/*: Nome: Fábio Calheiros
/*: Email: fabio.calheiros@gmail.com

/* -------------------------------- CLASSES GERAIS  */
/* line 12, ../sass/theme-geral.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../sass/theme-geral.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 1.2; }

/* line 26, ../sass/theme-geral.scss */
.btn-danger {
  color: #fff !important;
  text-shadow: none;
  background: #cb0032 !important;
  border: 0 !important;
  filter: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 6px 23px !important; }

/* line 39, ../sass/theme-geral.scss */
.reset {
  margin: 0;
  padding: 0; }

/* line 43, ../sass/theme-geral.scss */
.reset li {
  list-style: none; }

/* line 47, ../sass/theme-geral.scss */
.reset .icon {
  display: inherit;
  width: auto;
  height: auto;
  margin-top: 0;
  line-height: inherit;
  background-image: none;
  background-position: inherit;
  background-repeat: inherit; }

/* line 59, ../sass/theme-geral.scss */
.reset-icon {
  display: inherit;
  width: auto;
  height: auto;
  margin-top: 0;
  line-height: inherit;
  background-image: none;
  background-position: inherit;
  background-repeat: inherit; }

/* line 70, ../sass/theme-geral.scss */
.padding-section {
  padding: 100px 0; }

/*
| -------------------------------------------------------------------------
|   Vídeo
| -------------------------------------------------------------------------
*/
/* line 81, ../sass/theme-geral.scss */
.entry-text .flex-video {
  margin: 20px 0; }

/* line 86, ../sass/theme-geral.scss */
.flex-video {
  max-height: 555px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 50%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden; }

/* line 97, ../sass/theme-geral.scss */
.flex-video.widescreen {
  padding-bottom: 57.25%; }

/* line 102, ../sass/theme-geral.scss */
.flex-video.vimeo {
  padding-top: 0; }

/* line 107, ../sass/theme-geral.scss */
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  /* line 119, ../sass/theme-geral.scss */
  .flex-video {
    padding-top: 0; } }
/* line 124, ../sass/theme-geral.scss */
.flex-video iframe {
  max-height: 550px; }

/* line 128, ../sass/theme-geral.scss */
#open-menu {
  width: 71px;
  height: 25px;
  position: fixed;
  top: 10px;
  right: 0;
  display: block;
  z-index: 99999;
  outline: 0; }

/* line 139, ../sass/theme-geral.scss */
#open-menu:hover, #open-menu:focus {
  text-decoration: none; }

/* line 143, ../sass/theme-geral.scss */
.icon-menu {
  font-size: 27px;
  color: #a8a8a9;
  display: block;
  width: auto;
  height: auto;
  line-height: inherit;
  background-image: none;
  background-position: inherit;
  background-repeat: inherit; }

/*
| -------------------------------------------------------------------------
|   Menu lateral
| -------------------------------------------------------------------------
*/
/* line 162, ../sass/theme-geral.scss */
#top-menu {
  padding: 0;
  float: left;
  width: 100%;
  background: #494949;
  position: relative;
  z-index: 2; }

/* line 171, ../sass/theme-geral.scss */
#notifications {
  float: left;
  /*margin-top: 10px;
  padding-bottom: 5px;*/ }

/* line 176, ../sass/theme-geral.scss */
#notifications .badge, #notifications .user-notifications-count {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #000;
  font-weight: normal;
  font-size: 12px;
  padding: 2px 4px;
  position: absolute;
  right: -4px;
  z-index: 2;
  top: -11px;
  color: #fff; }

/* line 191, ../sass/theme-geral.scss */
#notifications .icon-alert {
  color: #fff;
  font-size: 22px;
  width: 20px;
  height: 22px; }

/* line 198, ../sass/theme-geral.scss */
#notifications .btn-notificacoes {
  display: block;
  width: 20px;
  height: 22px; }

/* line 204, ../sass/theme-geral.scss */
#notifications .dropdown-menu {
  width: 270px; }

/* line 210, ../sass/theme-geral.scss */
#menu-user {
  float: left;
  margin: 0 0 0 20px; }

/* line 213, ../sass/theme-geral.scss */
#menu-user .dropdown-toggle {
  background: none;
  border: 0;
  padding: 0 0 10px 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important; }

/* line 222, ../sass/theme-geral.scss */
#menu-user img {
  border: 0;
  margin-top: -2px;
  text-decoration: none;
  vertical-align: middle;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/* line 233, ../sass/theme-geral.scss */
#menu-user .btn .caret {
  margin-top: 19px; }

/* line 237, ../sass/theme-geral.scss */
#menu-user .user-full-name {
  padding: 0 5px; }

/* line 241, ../sass/theme-geral.scss */
#menu-user .caret {
  border-top: 4px solid #fff; }

/* line 245, ../sass/theme-geral.scss */
#menu-user li {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 252, ../sass/theme-geral.scss */
.text-user, .user-full-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 0 8px;
  display: inline-block;
  position: relative;
  top: 6px;
  max-width: 156px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 267, ../sass/theme-geral.scss */
#menu-user .icon-caret-down {
  color: #fff; }

/* line 271, ../sass/theme-geral.scss */
#menu-user .user-avatar-link:hover {
  text-decoration: none; }

/* line 277, ../sass/theme-geral.scss */
#top-menu .dropdown-menu {
  padding: 12px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0; }

/* line 288, ../sass/theme-geral.scss */
#top-menu .dropdown-menu li a {
  font-size: 16px; }

/* line 293, ../sass/theme-geral.scss */
#top-menu .dropdown-menu:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 8px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent; }

/* line 305, ../sass/theme-geral.scss */
#notifications .dropdown-menu:after {
  left: 4px; }

/* line 309, ../sass/theme-geral.scss */
#notifications {
  position: relative; }

/* line 311, ../sass/theme-geral.scss */
#notifications .dropdown-menu {
  padding: 0 !important; }

/* line 315, ../sass/theme-geral.scss */
#notifications li {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 322, ../sass/theme-geral.scss */
.item-alert {
  border-bottom: #5b5b5b solid 1px;
  padding: 14px 0; }

/* line 325, ../sass/theme-geral.scss */
.item-alert .titulo-alert {
  font-weight: 700;
  color: #000;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px; }

/* line 333, ../sass/theme-geral.scss */
.item-alert ul {
  padding-left: 20px;
  padding-right: 20px; }

/* line 337, ../sass/theme-geral.scss */
.item-alert ul a {
  font-size: 13px !important;
  color: #000000; }

/* line 344, ../sass/theme-geral.scss */
.item-alert:last-child {
  border-bottom: 0; }

/* line 349, ../sass/theme-geral.scss */
#top-menu .dropdown-menu > li > a:hover, #top-menu .dropdown-menu > li > a:focus, #top-menu .dropdown-submenu:hover > a, #top-menu .dropdown-submenu:focus > a {
  color: #000;
  text-decoration: underline;
  background: 0; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 365, ../sass/theme-geral.scss */
.hamburger {
  padding: 6px 7px 0px 6px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible; }

/*  .hamburger:hover {
    opacity: 0.7;
  }*/
/* line 384, ../sass/theme-geral.scss */
.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative; }

/* line 390, ../sass/theme-geral.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

/* line 394, ../sass/theme-geral.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 29px;
  height: 4px;
  background-color: #979798;
  border-radius: 0px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

/* line 405, ../sass/theme-geral.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

/* line 408, ../sass/theme-geral.scss */
.hamburger-inner::before {
  top: -10px; }

/* line 410, ../sass/theme-geral.scss */
.hamburger-inner::after {
  bottom: -10px; }

/* line 414, ../sass/theme-geral.scss */
.sb-active .hamburger-inner, .sb-active .hamburger-inner::before, .sb-active .hamburger-inner::after {
  background-color: #fff; }

/*
 * Spin
 */
/* line 422, ../sass/theme-geral.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

/* line 425, ../sass/theme-geral.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; }

/* line 427, ../sass/theme-geral.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

/* line 432, ../sass/theme-geral.scss */
.sb-active .hamburger--spin .hamburger-inner {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 437, ../sass/theme-geral.scss */
.sb-active .hamburger--spin .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; }

/* line 441, ../sass/theme-geral.scss */
.sb-active .hamburger--spin .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* line 450, ../sass/theme-geral.scss */
#contentMenu {
  clear: both;
  padding: 20px 30px; }

/* line 454, ../sass/theme-geral.scss */
#contentMenu #menu-content {
  margin: 0;
  padding: 0; }

/* line 458, ../sass/theme-geral.scss */
#contentMenu #menu-content li {
  list-style: none;
  margin-bottom: 7px;
  clear: both; }

/* line 463, ../sass/theme-geral.scss */
#contentMenu #menu-content li a {
  font-size: 16px;
  color: #ffffff; }

/* line 468, ../sass/theme-geral.scss */
#contentMenu #menu-content .caret {
  margin: 12px 6px 0 6px;
  border-top: 4px solid #fff; }

/* line 472, ../sass/theme-geral.scss */
#contentMenu #menu-content .dropdown-menu {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  position: relative;
  width: 100%; }

/* line 485, ../sass/theme-geral.scss */
#contentMenu #menu-content .dropdown-menu > li > a:hover, #contentMenu #menu-content .dropdown-menu > li > a:focus, #contentMenu #menu-content .dropdown-submenu:hover > a, #contentMenu #menu-content .dropdown-submenu:focus > a {
  color: #fff;
  text-decoration: underline;
  background: 0; }

/* line 493, ../sass/theme-geral.scss */
.title-header {
  padding: 30px 0 30px;
  font-weight: 400;
  color: #3a3a3a; }

/* line 499, ../sass/theme-geral.scss */
.center-form {
  padding: 0 144px; }

/* line 504, ../sass/theme-geral.scss */
#content .control-label {
  font-size: 16px;
  color: #363636;
  margin-bottom: 11px;
  float: left; }

/* line 511, ../sass/theme-geral.scss */
#content input[type="text"], #content input[type="email"], #content input[type="password"], #content select {
  float: left;
  width: calc(100% - 30px);
  padding: 16px 10px; }

/* line 517, ../sass/theme-geral.scss */
#content select {
  height: 35px; }

/* line 522, ../sass/theme-geral.scss */
.ajuda {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px; }

/* line 528, ../sass/theme-geral.scss */
.ajuda i {
  font-size: 16px;
  color: #adadad; }

/* line 534, ../sass/theme-geral.scss */
.control-group input + .ajuda, .control-group select + .ajuda {
  margin-top: 8px; }

/* line 538, ../sass/theme-geral.scss */
.model-form {
  margin-top: 40px; }

/* line 541, ../sass/theme-geral.scss */
.model-form .taglib-captcha {
  margin-top: 18px; }

/* line 545, ../sass/theme-geral.scss */
.model-form .btn-danger {
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 40px !important;
  margin-top: 20px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important; }

/* line 555, ../sass/theme-geral.scss */
.model-form .coluna-dir {
  margin-left: 50px; }

/* line 559, ../sass/theme-geral.scss */
.model-form .control-group {
  clear: both;
  float: left;
  width: 100%; }

/* line 565, ../sass/theme-geral.scss */
.model-form .checkbox {
  float: left; }

/* line 569, ../sass/theme-geral.scss */
.model-form .checkbox + .ajuda {
  float: left;
  margin-top: 3px;
  margin-left: 10px; }

/* line 576, ../sass/theme-geral.scss */
.bt-facebook {
  background: #3c579e;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  margin: 35px 0 50px 0; }

/* line 589, ../sass/theme-geral.scss */
.bt-facebook .icon {
  line-height: 16px;
  font-size: 25px;
  padding: 0 10px 0 0px;
  margin: 2px 11px 0 -6px; }

/* line 595, ../sass/theme-geral.scss */
.bt-facebook span {
  display: inline-block; }

/* line 600, ../sass/theme-geral.scss */
.bt-facebook:hover {
  text-decoration: none;
  color: #fff;
  background: #324985; }

/* line 606, ../sass/theme-geral.scss */
.bt-entrar {
  background: #656565;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  margin: 35px 0 50px 0; }

/* line 620, ../sass/theme-geral.scss */
.bt-entrar:hover {
  text-decoration: none;
  color: #fff;
  background: #565656; }

/* line 626, ../sass/theme-geral.scss */
.footer-form {
  padding-top: 20px;
  margin: 40px 0 100px 0;
  border-top: #d1d1d1 solid 1px; }

/* line 631, ../sass/theme-geral.scss */
.footer-form a {
  font-size: 16px;
  color: #565656; }

/* line 636, ../sass/theme-geral.scss */
.footer-form .icon {
  font-size: 20px;
  width: auto;
  margin-right: 8px;
  height: auto;
  position: relative;
  top: 2px; }

/* line 646, ../sass/theme-geral.scss */
.patrocinador {
  background: #cd002d;
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding: 5px 10px;
  margin: 15px 30px 20px 0; }

/* line 655, ../sass/theme-geral.scss */
.page-full {
  padding: 50px 115px; }

/* line 657, ../sass/theme-geral.scss */
.page-full .owl-controls {
  margin-top: 10px; }

/* line 661, ../sass/theme-geral.scss */
.page-full .bt-cadastrado {
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 40px !important;
  margin-top: 20px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  display: block;
  text-align: center; }

.bt-cadastrado {
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 40px !important;
  margin-top: 20px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  display: block !important;
  text-align: center; }

/* line 674, ../sass/theme-geral.scss */
.numero-whatsapp {
  margin-top: 0;
  clear: both;
  margin-bottom: 30px !important; }

/* line 680, ../sass/theme-geral.scss */
.numero-whatsapp + .ajuda {
  margin-top: 5px !important; }

/* line 685, ../sass/theme-geral.scss */
#top-internas {
  background: #ececec; }

/* line 689, ../sass/theme-geral.scss */
#top-internas-agenda {
  background: url(../images/bg-eventos.jpg) repeat; }

/* line 693, ../sass/theme-geral.scss */
.outro-id {
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #363636;
  float: left;
  width: 100%; }

/* line 702, ../sass/theme-geral.scss */
.campo-oculto {
  display: none; }

/* line 706, ../sass/theme-geral.scss */
.obrigatorios {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
  margin-bottom: 20px; }

/* line 713, ../sass/theme-geral.scss */
.popover {
  color: #666;
  font-size: 14px; }

/* line 718, ../sass/theme-geral.scss */
.subtitulo-form {
  color: #666;
  border-bottom: #ccc solid 1px;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 15px; }

/* line 726, ../sass/theme-geral.scss */
#modalLogin {
  z-index: 999999;
  color: #363636;
  width: 445px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/* line 733, ../sass/theme-geral.scss */
#modalLogin .modal-header {
  padding: 20px 15px;
  background: #f1f1f1;
  border: 0; }

/* line 737, ../sass/theme-geral.scss */
#modalLogin .modal-header img {
  margin: 0 auto;
  width: 201px;
  display: block; }

/* line 744, ../sass/theme-geral.scss */
#modalLogin .modal-header .close {
  margin-top: 2px;
  position: absolute;
  top: 7px;
  right: 13px;
  color: #828282;
  opacity: 1; }

/* line 753, ../sass/theme-geral.scss */
#modalLogin .modal-body {
  padding: 15px 60px;
  max-height: 430px; }

/* line 758, ../sass/theme-geral.scss */
#modalLogin .modal-footer {
  background: none;
  border-top: #d3d3d3 solid 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/* line 769, ../sass/theme-geral.scss */
#modalLogin h2 {
  color: #333333;
  font-size: 24px;
  text-align: center; }

/* line 775, ../sass/theme-geral.scss */
#modalLogin h3 {
  text-transform: uppercase;
  font-size: 19px;
  color: #333333;
  text-align: center;
  font-weight: 400; }

/* line 783, ../sass/theme-geral.scss */
#modalLogin .bt-facebook {
  text-transform: inherit;
  margin: 15px 0 20px 0;
  font-weight: 700;
  font-size: 18px; }

/* line 790, ../sass/theme-geral.scss */
#modalLogin input[type="text"], #modalLogin input[type="email"], #modalLogin input[type="password"] {
  padding: 16px 10px;
  width: 100%;
  font-size: 14px; }

/* line 796, ../sass/theme-geral.scss */
#modalLogin input[type="submit"] {
  width: 100%;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  font-size: 18px;
  padding: 10px 15px !important;
  text-transform: uppercase; }

/* line 806, ../sass/theme-geral.scss */
#modalLogin .senha {
  margin-bottom: 0; }

/* line 810, ../sass/theme-geral.scss */
#modalLogin .txt-footer-modal {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px; }

/* line 814, ../sass/theme-geral.scss */
#modalLogin .txt-footer-modal a {
  color: #363636;
  text-decoration: underline; }

/* line 821, ../sass/theme-geral.scss */
.login-diferente {
  margin-bottom: 20px;
  color: #363636; }

/* line 826, ../sass/theme-geral.scss */
#controle-login-form {
  margin-bottom: 20px;
  clear: both;
  float: left;
  width: 100%; }

/* line 833, ../sass/theme-geral.scss */
.bt-mini {
  font-size: 20px;
  color: #adadad;
  display: block;
  float: right;
  margin-top: 8px; }

/* line 840, ../sass/theme-geral.scss */
.bt-mini i {
  width: auto;
  height: auto; }

/* line 846, ../sass/theme-geral.scss */
.bt-mini:hover, .bt-mini:focus, .bt-mini-remove:hover, .bt-mini-remove:focus, .bt-remove-tel:hover, .bt-remove-tel:focus, .bt-mini-tel:hover, .bt-mini-tel:focus {
  color: #ae022c; }

/*.bt-mini:hover, .bt-mini:focus, .bt-mini-remove:hover, .bt-mini-remove:focus, .bt-mini-tel:hover, .bt-mini-tel:focus, .bt-remove-tel:hover, .bt-remove-tel:focus{
	background: #ae022c;
	text-decoration: none;
	color: #fff;
}
*/
/* line 856, ../sass/theme-geral.scss */
.bt-mini-remove, .bt-remove-tel, .bt-mini-tel {
  font-size: 20px;
  color: #adadad;
  display: block;
  float: right;
  margin-top: 8px; }

/* line 863, ../sass/theme-geral.scss */
.bt-mini-remove i, .bt-remove-tel i, .bt-mini-tel i {
  width: auto;
  height: auto; }

/* line 869, ../sass/theme-geral.scss */
.cloneEmail, .cloneTel {
  display: none; }

/* line 873, ../sass/theme-geral.scss */
#mais-emails .tpl-email {
  display: block; }

/* line 877, ../sass/theme-geral.scss */
.input-telefone {
  max-width: 200px; }

