/* line 1, ../sass/theme-agenda.scss */
.item-bloco {
  margin-top: 50px; }

/* line 4, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li {
  padding: 25px 40px; }

/* line 8, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li.tabela {
  padding: 0; }

/* line 12, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li.titulo {
  background: #fff;
  color: #cb0032;
  text-transform: uppercase;
  border-bottom: #cb0032 solid 2px; }

/* line 18, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li.titulo h2 {
  margin: 0;
  padding: 0; }

/* line 24, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li.desc {
  background: #4d0013;
  border-bottom: #cb0032 solid 2px; }

/* line 27, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li.desc p {
  color: #ffffff; }

/* line 31, ../sass/theme-agenda.scss */
.item-bloco .lista-header-bloco li.desc a {
  margin-top: 10px; }

/* line 38, ../sass/theme-agenda.scss */
.lista-tabela {
  background: #4d0013;
  color: #fff;
  padding: 10px 0 30px 0; }

/* line 42, ../sass/theme-agenda.scss */
.lista-tabela li {
  padding: 25px 40px 0 40px !important;
  font-size: 20px; }

/* line 46, ../sass/theme-agenda.scss */
.lista-tabela li .inner-lista-tabela {
  border-top: #fff dashed 1px;
  padding: 20px 0 0 0;
  line-height: 31px; }

/* line 53, ../sass/theme-agenda.scss */
.lista-tabela li:first-child {
  padding: 0 40px 0 40px !important; }

/* line 55, ../sass/theme-agenda.scss */
.lista-tabela li:first-child .inner-lista-tabela {
  border-top: 0; }

/* line 60, ../sass/theme-agenda.scss */
.lista-tabela .bt-inscricao {
  float: right; }

/* line 65, ../sass/theme-agenda.scss */
.header-section {
  position: relative; }

/* line 67, ../sass/theme-agenda.scss */
.header-section h1 {
  margin: 0;
  padding: 0; }

/* line 73, ../sass/theme-agenda.scss */
.header-section:after {
  content: "";
  background: url(../../images/borda-diamante.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: -21px; }

/* line 82, ../sass/theme-agenda.scss */
.header-section:before {
  background: #fff;
  content: "";
  width: 2000px;
  height: 7px;
  position: absolute;
  right: 34px;
  bottom: -6px; }

/* line 92, ../sass/theme-agenda.scss */
.header-section-red {
  margin-bottom: 21px;
  position: relative;
  padding: 0 0 8px; }

/* line 98, ../sass/theme-agenda.scss */
.header-section-red:after {
  content: "";
  background: url(../../images/borda-diamante-red.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: -21px; }

/* line 107, ../sass/theme-agenda.scss */
.header-section-red:before {
  background: #cb0032;
  content: "";
  width: 2000px;
  height: 7px;
  position: absolute;
  right: 34px;
  bottom: -6px; }

/* line 119, ../sass/theme-agenda.scss */
#eventos .nav-tabs {
  border: 0;
  margin-bottom: 0; }

/* line 124, ../sass/theme-agenda.scss */
#eventos .nav-tabs > li > a {
  background: #fff;
  color: #cb0032;
  border: 0;
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px; }

/* line 134, ../sass/theme-agenda.scss */
#eventos .nav-tabs > .active > a, #eventos .nav-tabs > .active > a:hover, #eventos .nav-tabs > .active > a:focus {
  color: #fff;
  background: #4d0013;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/* line 144, ../sass/theme-agenda.scss */
.titulo-evento, .local-evento {
  background: #4d0013;
  margin-bottom: 2px;
  padding: 20px 30px;
  color: #ffffff; }

/* line 150, ../sass/theme-agenda.scss */
.titulo-evento h3, .titulo-evento p, .local-evento h3, .local-evento p {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  line-height: 23px; }

/* line 158, ../sass/theme-agenda.scss */
.item-evento {
  border-bottom: #cb0032 dashed 1px;
  float: left;
  padding: 15px 0;
  width: 100%;
  font-size: 18px;
  color: #4e4e4e; }

/* line 166, ../sass/theme-agenda.scss */
.item-evento a {
  float: right; }

/* line 171, ../sass/theme-agenda.scss */
.inner-horarios {
  padding-left: 35px; }

/* line 175, ../sass/theme-agenda.scss */
.titulo-evento-header {
  margin: 30px 0 50px 0 !important;
  clear: both;
  float: left;
  width: 100%;
  color: #fff !important; }

/* line 183, ../sass/theme-agenda.scss */
.subtitulo-evento {
  margin: 25px 0; }

/* line 187, ../sass/theme-agenda.scss */
.col-item-evento {
  margin-right: 79px;
  float: left;
  line-height: 30px; }

/* line 194, ../sass/theme-agenda.scss */
.local-evento p {
  display: inline-block; }

/* line 198, ../sass/theme-agenda.scss */
.local-evento .bt-local {
  margin-left: 20px; }

/* line 203, ../sass/theme-agenda.scss */
.col-txt-eventos .entry-text {
  color: #666;
  font-size: 18px;
  line-height: 22px; }

/* line 209, ../sass/theme-agenda.scss */
#top-internas {
  background: url("../../images/bg-eventos.jpg") repeat !important; }

/* line 213, ../sass/theme-agenda.scss */
.bloco1 {
  padding: 10px 15px;
  background: #fff;
  float: left;
  width: 100%; }

/* line 218, ../sass/theme-agenda.scss */
.bloco1 #logo {
  float: left; }

/* line 224, ../sass/theme-agenda.scss */
#top-internas .site-navigation {
  clear: both; }

/* line 226, ../sass/theme-agenda.scss */
#top-internas .site-navigation .navbar-inner {
  background: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  padding: 0; }

/* line 238, ../sass/theme-agenda.scss */
#top-internas .site-navigation ul.nav-collapse {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/* line 244, ../sass/theme-agenda.scss */
#top-internas .navbar .nav > .active > a, #top-internas .navbar .nav > .active > a:hover, #top-internas .navbar .nav > .active > a:focus {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/* line 251, ../sass/theme-agenda.scss */
#top-internas .navbar .nav > .active > a:after {
  bottom: 0;
  left: 50%;
  margin: 0 -4px;
  position: absolute;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff; }

/* line 262, ../sass/theme-agenda.scss */
#top-internas .navbar .nav > li > a {
  padding: 14px 15px 14px;
  position: relative;
  display: block;
  color: #fff;
  text-shadow: none;
  font-size: 14px;
  text-transform: uppercase; }

/* line 274, ../sass/theme-agenda.scss */
#content h2.titulo-secao {
  color: #cb0032;
  font-size: 30px;
  font-weight: 700;
  padding: 25px 0;
  text-transform: uppercase; }

/* line 283, ../sass/theme-agenda.scss */
#filtro {
  padding: 20px 0; }

/* line 285, ../sass/theme-agenda.scss */
#filtro label {
  color: #666666; }

/* line 290, ../sass/theme-agenda.scss */
.btn-send-filter {
  color: #d5284e !important;
  font-size: 29px;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 22px;
  display: block; }

/* line 299, ../sass/theme-agenda.scss */
#resultadoBusca {
  margin: 0;
  padding: 0 0 40px 0; }

/* line 303, ../sass/theme-agenda.scss */
#resultadoBusca .inner-li-eventos {
  background: #e0e0e0;
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg); }

/* line 311, ../sass/theme-agenda.scss */
#resultadoBusca .invert {
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  transform: skew(20deg); }

/* line 318, ../sass/theme-agenda.scss */
#resultadoBusca .group-info-left {
  position: relative; }

/* line 322, ../sass/theme-agenda.scss */
#resultadoBusca .group-info-left:after {
  content: "";
  height: 100%;
  width: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  right: -25px;
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg); }

/* line 336, ../sass/theme-agenda.scss */
#resultadoBusca li {
  margin-bottom: 0;
  list-style: none;
  margin-top: 10px; }

/* line 341, ../sass/theme-agenda.scss */
#resultadoBusca li h2 {
  margin: 0; }

/* line 347, ../sass/theme-agenda.scss */
#resultadoBusca a .data-result {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #4e4e4e;
  line-height: 24px;
  margin-top: 0;
  margin-left: 40px;
  padding-top: 20px; }

/* line 358, ../sass/theme-agenda.scss */
#resultadoBusca a .cidade-result {
  font-size: 20px;
  color: #4e4e4e;
  line-height: 24px;
  margin-left: 15px;
  text-align: center;
  padding-bottom: 20px; }

/* line 367, ../sass/theme-agenda.scss */
#resultadoBusca a h2 {
  margin: 0;
  font-weight: 700;
  color: #656565;
  font-size: 22px;
  line-height: 26px; }

/* line 375, ../sass/theme-agenda.scss */
#resultadoBusca a p {
  color: #4e4e4e;
  line-height: 24px;
  font-size: 22px;
  margin: 0; }

/* line 383, ../sass/theme-agenda.scss */
#resultadoBusca a:hover {
  text-decoration: none; }

/* line 385, ../sass/theme-agenda.scss */
#resultadoBusca a:hover .inner-li-eventos {
  background: #cd002d; }

/* line 388, ../sass/theme-agenda.scss */
#resultadoBusca a:hover h2, #resultadoBusca a:hover p, #resultadoBusca a:hover div {
  color: #fff;
  text-decoration: none; }

/* line 395, ../sass/theme-agenda.scss */
.inner-right-evento {
  margin-left: 20px;
  margin-top: 17px; }

/* line 400, ../sass/theme-agenda.scss */
.img-desktop {
  display: block; }

/* line 404, ../sass/theme-agenda.scss */
.img-mobile {
  display: none;
  margin-top: 4px; }

/* line 409, ../sass/theme-agenda.scss */
.btn-danger {
  color: #fff !important;
  text-shadow: none;
  background: #cb0032 !important;
  border: 0 !important;
  filter: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 6px 23px !important; }

/* line 421, ../sass/theme-agenda.scss */
.titulo-area {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #fff; }

/* line 428, ../sass/theme-agenda.scss */
.info-evento {
  clear: both;
  margin: 0 0 70px 0 !important;
  padding: 0 !important;
  color: #fff; }

/* line 433, ../sass/theme-agenda.scss */
.info-evento li {
  border-left: #fff solid 1px;
  list-style: none;
  display: inline-block;
  font-size: 18px;
  padding: 0 25px; }

/* line 440, ../sass/theme-agenda.scss */
.info-evento li:first-child {
  border: 0;
  padding: 0 25px 0 0; }

/* line 447, ../sass/theme-agenda.scss */
.single-agenda #content {
  background: #efefef;
  padding-top: 15px; }

/* line 452, ../sass/theme-agenda.scss */
.single-agenda .titulo-evento-header {
  margin: 20px 0 30px 0; }

/* line 457, ../sass/theme-agenda.scss */
.text-single-eventos {
  padding: 50px 0; }

/* line 460, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h1, .text-single-eventos .entry-text h2, .text-single-eventos .entry-text h3, .text-single-eventos .entry-text h4, .text-single-eventos .entry-text h5, .text-single-eventos .entry-text h6 {
  color: #cb0032;
  font-weight: 400; }

/* line 464, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text p, .text-single-eventos .entry-text li {
  color: #666666;
  font-size: 18px;
  line-height: 22px; }

/* line 470, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h1 {
  font-size: 42px; }

/* line 473, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h2 {
  font-size: 38px; }

/* line 476, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h3 {
  font-size: 32px; }

/* line 479, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h4 {
  font-size: 26px; }

/* line 482, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h5 {
  font-size: 22px; }

/* line 485, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text h6 {
  font-size: 18px; }

/* line 489, ../sass/theme-agenda.scss */
.text-single-eventos .entry-text p {
  margin: 0 0 20px; }

/* line 496, ../sass/theme-agenda.scss */
.inscrito {
  color: #54d149;
  float: left;
  padding-left: 85px;
  padding-top: 3px;
  margin-bottom: 0; }

/* line 504, ../sass/theme-agenda.scss */
.esgotado {
  color: #f20404;
  float: left;
  padding-left: 26px;
  padding-top: 3px;
  margin-bottom: 0; }

