@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(bootstrap.min.css);
@import url(bootstrap-responsive.min.css);
@import url(ilightbox.css);

@charset "UTF-8";
/* ------------------------ DESENVOLVIDO POR -------------------------------  */
/*: Nome: Fábio Calheiros
/*: Email: fabio.calheiros@gmail.com

/* -------------------------------- CLASSES GERAIS  */
/* line 7, ../sass/theme-lapidarios.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
}

/* line 16, ../sass/theme-lapidarios.scss */
.bg-vermelho {
  background: #cb0032;
}

/* line 20, ../sass/theme-lapidarios.scss */
.reset {
  margin: 0;
  padding: 0;
}
/* line 24, ../sass/theme-lapidarios.scss */
.reset li {
  list-style: none;
}

/* line 29, ../sass/theme-lapidarios.scss */
.padding-section {
  padding: 20px 0;
}

/* -------------------------------- HOME  */
/* line 35, ../sass/theme-lapidarios.scss */
#home {
  position: relative;
  display: table;
  width: 100%;
}
/* line 40, ../sass/theme-lapidarios.scss */
#home .inner-home {
  display: table-cell;
  vertical-align: middle;
}

/* line 46, ../sass/theme-lapidarios.scss */
.img-destaque {
  display: block;
  margin: 0 auto;
}

/* line 51, ../sass/theme-lapidarios.scss */
.bt-diamante {
  background: url("../images/bt-diamante.jpg") no-repeat;
  width: 76px;
  height: 50px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin: 0 -36px;
}

/* -------------------------------- CADASTRO/PARALLAX  */
/* line 65, ../sass/theme-lapidarios.scss */
.section-full-width {
  position: relative;
  overflow: hidden;
}

/* line 70, ../sass/theme-lapidarios.scss */
.parallax-fixed .full-bg-image {
  background-attachment: fixed;
}

/* line 74, ../sass/theme-lapidarios.scss */
.full-bg-image {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

/* line 84, ../sass/theme-lapidarios.scss */
.parallax-fixed .container {
  position: relative;
  z-index: 10;
  height: 100%;
}

/* line 90, ../sass/theme-lapidarios.scss */
.out-table-parallax {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 96, ../sass/theme-lapidarios.scss */
.inner-parallax {
  display: table-cell;
  vertical-align: middle;
}

/* line 102, ../sass/theme-lapidarios.scss */
.form-cadastro h2 {
  background: #656565;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 35px 40px;
  text-align: center;
  margin: 0 0 5px 0;
}
/* line 113, ../sass/theme-lapidarios.scss */
.form-cadastro h3 {
  font-size: 33px;
  padding: 13px 0;
  background: #cb0032;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
/* line 123, ../sass/theme-lapidarios.scss */
.form-cadastro input[type="text"] {
  width: 100%;
  font-size: 32px;
  border: 0;
  margin-bottom: 2px;
  padding: 10px 15px;
  color: #000;
}
/* line 132, ../sass/theme-lapidarios.scss */
.form-cadastro button[type="submit"] {
  background: url("../images/bg-bt-facebook.png") repeat-x;
  border: 0;
  color: #fff;
  width: 100%;
  font-size: 28px;
  margin-top: 10px;
}
/* line 140, ../sass/theme-lapidarios.scss */
.form-cadastro button[type="submit"] i {
  margin-right: 10px;
}

/* line 146, ../sass/theme-lapidarios.scss */
.form-cadastro ::-webkit-input-placeholder {
  color: #000;
}

/* line 150, ../sass/theme-lapidarios.scss */
.form-cadastro :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

/* line 154, ../sass/theme-lapidarios.scss */
.form-cadastro ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

/* line 158, ../sass/theme-lapidarios.scss */
.form-cadastro :-ms-input-placeholder {
  color: #000;
}

/* -------------------------------- INTRO 1  */
/* line 164, ../sass/theme-lapidarios.scss */
#intro {
  background: #cb0032;
  display: table;
  width: 100%;
}

/* line 170, ../sass/theme-lapidarios.scss */
.linha-diamante-right {
  position: relative;
  margin: 50px 0;
  float: left;
  width: 100%;
}

/* line 177, ../sass/theme-lapidarios.scss */
.linha-diamante-right:after {
  content: "";
  background: url(../images/borda-diamante.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: -21px;
}

/* line 187, ../sass/theme-lapidarios.scss */
.linha-diamante-right:before {
  content: "";
  background: #fff;
  width: 1800px;
  height: 7px;
  position: absolute;
  right: 35px;
  bottom: -6px;
}

/* line 197, ../sass/theme-lapidarios.scss */
.linha-diamante-left {
  position: relative;
  margin: 50px 0;
  float: left;
  width: 100%;
}

/* line 204, ../sass/theme-lapidarios.scss */
.linha-diamante-left:after {
  content: "";
  background: url(../images/diamante-left.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  left: 0;
  bottom: -21px;
}

/* line 214, ../sass/theme-lapidarios.scss */
.linha-diamante-left:before {
  content: "";
  background: #fff;
  width: 1800px;
  height: 7px;
  position: absolute;
  left: 35px;
  bottom: -6px;
}

/* line 224, ../sass/theme-lapidarios.scss */
.linha-diamante-left-cinza {
  position: relative;
  margin: 50px 0;
  float: left;
  width: 100%;
}

/* line 231, ../sass/theme-lapidarios.scss */
.linha-diamante-left-cinza:after {
  content: "";
  background: url(../images/diamante-cinza-left.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  left: 0;
  bottom: -21px;
}

/* line 241, ../sass/theme-lapidarios.scss */
.linha-diamante-left-cinza:before {
  content: "";
  background: #d6d6d6;
  width: 1800px;
  height: 7px;
  position: absolute;
  left: 35px;
  bottom: -6px;
}

/* line 251, ../sass/theme-lapidarios.scss */
.inner-auto {
  display: table-cell;
  vertical-align: middle;
}

/* line 256, ../sass/theme-lapidarios.scss */
.inner-auto .container {
  overflow: hidden;
}

/* line 261, ../sass/theme-lapidarios.scss */
#intro p {
  font-size: 27px;
  line-height: 38px;
}
/* line 265, ../sass/theme-lapidarios.scss */
#intro p.heavy {
  font-weight: 900;
  color: #000;
  font-size: 42px;
  line-height: 42px;
  margin: 20px 0;
}

/* line 274, ../sass/theme-lapidarios.scss */
.autoHeight {
  width: 100%;
}

/* -------------------------------- INTRO2  */
/* line 280, ../sass/theme-lapidarios.scss */
#intro2 {
  display: table;
}
/* line 283, ../sass/theme-lapidarios.scss */
#intro2 .header-intro h1 {
  color: #070000;
  font-weight: 900;
  font-size: 63px;
  margin-top: 0;
  line-height: 1;
}
/* line 290, ../sass/theme-lapidarios.scss */
#intro2 .header-intro h2 {
  color: #cb0032;
  font-size: 38px;
  font-weight: 700;
}
/* line 297, ../sass/theme-lapidarios.scss */
#intro2 p {
  font-size: 27px;
  color: #000000;
  line-height: 1.4;
}
/* line 303, ../sass/theme-lapidarios.scss */
#intro2 .col-text-box {
  padding: 0 30px;
}

/* line 308, ../sass/theme-lapidarios.scss */
#intro2 .container {
  overflow: hidden;
}

/* line 312, ../sass/theme-lapidarios.scss */
#intro2 .linha-diamante-left-cinza {
  margin: 30px 0 30px;
}

/* line 316, ../sass/theme-lapidarios.scss */
.box-image {
  background: #828282;
  margin-top: 30px;
}
/* line 320, ../sass/theme-lapidarios.scss */
.box-image p {
  color: #fff !important;
  font-size: 27px;
}

/* -------------------------------- INTRO3  */
/* line 328, ../sass/theme-lapidarios.scss */
#intro3 {
  display: table;
  background: #2b2b2b;
}

/* line 334, ../sass/theme-lapidarios.scss */
#intro3 p {
  margin-bottom: 20px;
  line-height: 1.4;
}

/* -------------------------------- INTRO4  */
/* line 344, ../sass/theme-lapidarios.scss */
#intro4 .section-full-width {
  height: 247px;
}
/* line 348, ../sass/theme-lapidarios.scss */
#intro4 h1 {
  color: #000;
  font-size: 47px;
  font-weight: 900;
  margin: 40px 0;
  line-height: 1;
}
/* line 355, ../sass/theme-lapidarios.scss */
#intro4 h2 {
  color: #cb0032;
  font-size: 36px;
  font-weight: 700;
}
/* line 361, ../sass/theme-lapidarios.scss */
#intro4 p {
  font-size: 27px;
  color: #000000;
}

/* line 367, ../sass/theme-lapidarios.scss */
.owl-nav {
  display: none;
}

/* line 371, ../sass/theme-lapidarios.scss */
.owl-videos {
  margin: 40px 0;
}

/* line 375, ../sass/theme-lapidarios.scss */
.link-video {
  position: relative;
  display: block;
}
/* line 379, ../sass/theme-lapidarios.scss */
.link-video img {
  position: relative;
  z-index: 1;
}

/* line 385, ../sass/theme-lapidarios.scss */
.link-video:after {
  content: "";
  width: 64px;
  height: 73px;
  position: absolute;
  background: url("../images/play-video.png") no-repeat center center;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -36px -32px;
}

/* -------------------------------- INTRO5  */
/* line 399, ../sass/theme-lapidarios.scss */
#intro5 {
  padding: 40px 0;
  background: #cb0032;
}
/* line 402, ../sass/theme-lapidarios.scss */
#intro5 p {
  font-size: 36px;
  padding-bottom: 18px;
  line-height: 1.4;
}
/* line 408, ../sass/theme-lapidarios.scss */
#intro5 .out-text {
  padding: 30px 0;
}
/* line 413, ../sass/theme-lapidarios.scss */
#intro5 .header-section img {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
}

/* -------------------------------- INTRO6  */
/* line 423, ../sass/theme-lapidarios.scss */
#intro6 {
  background: url("../images/bg-tempo.jpg") repeat center top;
}
/* line 426, ../sass/theme-lapidarios.scss */
#intro6 p {
  color: #070000;
  font-size: 30px;
}
/* line 430, ../sass/theme-lapidarios.scss */
#intro6 .diferente {
  color: #cb0032;
  padding: 20px 0;
}

/* line 436, ../sass/theme-lapidarios.scss */
.inner-intro-6 {
  padding: 80px 0;
  background: #e7e7e7;
}

/* -------------------------------- INTRO7 */
/* line 443, ../sass/theme-lapidarios.scss */
#intro7 {
  padding: 80px 0;
  background: #cc9933;
}
/* line 447, ../sass/theme-lapidarios.scss */
#intro7 h2 {
  font-size: 42px;
  margin: 70px 0;
}

/* line 453, ../sass/theme-lapidarios.scss */
.lista-interesse {
  margin: 0;
  padding: 0;
}
/* line 457, ../sass/theme-lapidarios.scss */
.lista-interesse li {
  font-size: 22px;
  list-style: none;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.4;
}
/* line 465, ../sass/theme-lapidarios.scss */
.lista-interesse li:before {
  content: "";
  background: url(../images/diamante-li.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  left: -40px;
  top: 10px;
}
/* line 475, ../sass/theme-lapidarios.scss */
.lista-interesse li:after {
  content: "";
  height: 5px;
  width: 600px;
  position: absolute;
  right: 104.5%;
  top: 10px;
  background: #fff;
}
/* line 485, ../sass/theme-lapidarios.scss */
.lista-interesse li.marron {
  color: #723701;
}
/* line 489, ../sass/theme-lapidarios.scss */
.lista-interesse li.marron:before {
  content: "";
  background: url(../images/diamante-li-marron.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  left: -40px;
  top: 10px;
}
/* line 499, ../sass/theme-lapidarios.scss */
.lista-interesse li.marron:after {
  content: "";
  height: 5px;
  width: 600px;
  position: absolute;
  right: 104.5%;
  top: 10px;
  background: #723701;
}

/* -------------------------------- INTRO8 */
/* line 512, ../sass/theme-lapidarios.scss */
#intro8 {
  background: #dbce8f;
}
/* line 515, ../sass/theme-lapidarios.scss */
#intro8 h1 {
  margin: 60px 0 30px 0;
}
/* line 519, ../sass/theme-lapidarios.scss */
#intro8 p {
  color: #000000;
  margin-bottom: 25px;
}

/* -------------------------------- INTRO9 */
/* line 527, ../sass/theme-lapidarios.scss */
#intro9 {
  overflow: hidden;
  background: url("../images/bg-intro-9.jpg") no-repeat center top;
  padding: 40px 0;
}
/* line 533, ../sass/theme-lapidarios.scss */
#intro9 p strong {
  font-size: 28px;
}

/* line 539, ../sass/theme-lapidarios.scss */
.logo-lapidarios {
  float: right;
  margin: 31px;
}

/* line 545, ../sass/theme-lapidarios.scss */
.quadrado {
  border: #fff solid 10px;
  height: 20vw;
  margin: 20px 0 30px 0;
}

/* -------------------------------- PAGINA PARTICIPE  */
/* line 553, ../sass/theme-lapidarios.scss */
.item-bloco {
  margin-top: 50px;
}
/* line 556, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li {
  padding: 25px 40px;
}
/* line 560, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li.tabela {
  padding: 0;
}
/* line 564, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li.titulo {
  background: #fff;
  color: #cb0032;
  text-transform: uppercase;
  border-bottom: #cb0032 solid 2px;
}
/* line 570, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li.titulo h2 {
  margin: 0;
  padding: 0;
}
/* line 576, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li.desc {
  background: #4d0013;
  border-bottom: #cb0032 solid 2px;
}
/* line 579, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li.desc p {
  color: #ffffff;
}
/* line 583, ../sass/theme-lapidarios.scss */
.item-bloco .lista-header-bloco li.desc a {
  margin-top: 10px;
}

/* line 590, ../sass/theme-lapidarios.scss */
.lista-tabela {
  background: #4d0013;
  color: #fff;
  padding: 10px 0 30px 0;
}
/* line 594, ../sass/theme-lapidarios.scss */
.lista-tabela li {
  padding: 25px 40px 0 40px !important;
  font-size: 20px;
}
/* line 598, ../sass/theme-lapidarios.scss */
.lista-tabela li .inner-lista-tabela {
  border-top: #fff dashed 1px;
  padding: 20px 0 0 0;
  line-height: 31px;
}
/* line 605, ../sass/theme-lapidarios.scss */
.lista-tabela li:first-child {
  padding: 0 40px 0 40px !important;
}
/* line 607, ../sass/theme-lapidarios.scss */
.lista-tabela li:first-child .inner-lista-tabela {
  border-top: 0;
}
/* line 612, ../sass/theme-lapidarios.scss */
.lista-tabela .bt-inscricao {
  float: right;
}

/* line 617, ../sass/theme-lapidarios.scss */
.header-section {
  position: relative;
}
/* line 619, ../sass/theme-lapidarios.scss */
.header-section h1 {
  margin: 0;
  padding: 0;
}

/* line 625, ../sass/theme-lapidarios.scss */
.header-section:after {
  content: "";
  background: url(../images/borda-diamante.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: -21px;
}

/* line 634, ../sass/theme-lapidarios.scss */
.header-section:before {
  background: #fff;
  content: "";
  width: 2000px;
  height: 7px;
  position: absolute;
  right: 34px;
  bottom: -6px;
}

/* line 644, ../sass/theme-lapidarios.scss */
.header-section-red {
  margin-bottom: 21px;
  position: relative;
  padding: 0 0 8px;
}

/* line 650, ../sass/theme-lapidarios.scss */
.header-section-red:after {
  content: "";
  background: url(../images/borda-diamante-red.png) no-repeat;
  width: 35px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: -21px;
}

/* line 659, ../sass/theme-lapidarios.scss */
.header-section-red:before {
  background: #cb0032;
  content: "";
  width: 2000px;
  height: 7px;
  position: absolute;
  right: 34px;
  bottom: -6px;
}

/* -------------------------------- LOGIN  */
/* line 674, ../sass/theme-lapidarios.scss */
.container-logar {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* line 680, ../sass/theme-lapidarios.scss */
.container-logar .chamada {
  background-color: #656565;
  color: #FFF;
  font-size: 32px;
  line-height: 1.2em;
  padding: 35px 60px;
  text-align: center;
  text-transform: uppercase;
}

/* line 690, ../sass/theme-lapidarios.scss */
.btn-fb {
  display: block;
  height: 85px;
  line-height: 85px;
  font-size: 28px;
  color: #FFF;
  margin-top: 2px;
  text-align: center;
  background-image: -moz-linear-gradient(90deg, #3b5998 0%, #4e69a2 100%);
  background-image: -webkit-linear-gradient(90deg, #3b5998 0%, #4e69a2 100%);
  background-image: -ms-linear-gradient(90deg, #3b5998 0%, #4e69a2 100%);
}

/* line 703, ../sass/theme-lapidarios.scss */
.btn-fb img {
  margin-top: -4px;
  display: inline-block;
}

/* line 708, ../sass/theme-lapidarios.scss */
.btn-fb:hover,
.btn-fb:active,
.btn-fb:focus {
  color: #FFF;
  text-decoration: none;
}

/* line 715, ../sass/theme-lapidarios.scss */
.faca-login {
  font-size: 24px;
  text-transform: uppercase;
  color: #656565;
  margin: 20px 0;
  text-align: center;
}

/* line 723, ../sass/theme-lapidarios.scss */
.container-logar input[type="email"],
.container-logar input[type="password"] {
  height: 43px;
  line-height: 60px;
  font-size: 28px;
  border-radius: 0;
  width: 92%;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 8px 20px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 739, ../sass/theme-lapidarios.scss */
.container-logar form .control-group:first-child {
  margin-bottom: 5px;
}

/* line 743, ../sass/theme-lapidarios.scss */
.btn-geral {
  background-color: #656565;
  color: #FFF;
  display: block;
  padding: 0;
  height: 67px;
  line-height: 67px;
  font-size: 18px;
  border: none;
  vertical-align: top;
  text-align: center;
}

/* line 756, ../sass/theme-lapidarios.scss */
.btn-geral:hover,
.btn-geral:active,
.btn-geral:visited,
.btn-geral:focus {
  color: #FFF;
  text-decoration: none;
}

/* line 764, ../sass/theme-lapidarios.scss */
.inline-logar {
  padding: 0;
  margin: 0;
}

/* line 769, ../sass/theme-lapidarios.scss */
.inline-logar li:first-child {
  padding-left: 0;
}

/* line 773, ../sass/theme-lapidarios.scss */
.inline.inline-logar li:nth-child(3) {
  margin-right: 0;
  padding-right: 0;
}

/* line 778, ../sass/theme-lapidarios.scss */
.lembrar {
  font-size: 20px;
  color: #656565;
  margin-top: 15px;
}

/* line 784, ../sass/theme-lapidarios.scss */
.btn-geral.faca-login {
  background-color: #cb0032;
  text-transform: uppercase;
  font-size: 24px;
  width: 205px;
  margin: 0;
}

/* line 793, ../sass/theme-lapidarios.scss */
.inline-logar li {
  float: left;
  width: 30%;
}

/* line 799, ../sass/theme-lapidarios.scss */
#intro10 {
  padding: 80px 0;
  background: #cb0032;
}

/* line 804, ../sass/theme-lapidarios.scss */
.padding-mobile {
  padding: 60px 0;
}

/* line 809, ../sass/theme-lapidarios.scss */
#cadastro {
  min-height: 780px;
}

/* line 813, ../sass/theme-lapidarios.scss */
.out-table-parallax {
  min-height: 780px;
}

/* content styles */
/* line 3, ../sass/_flex-box.scss */
.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 7, ../sass/_flex-box.scss */
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 17, ../sass/_flex-box.scss */
.content {
  padding: 12px 3px;
}

/* columns of same height styles */
/* line 23, ../sass/_flex-box.scss */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

/* line 29, ../sass/_flex-box.scss */
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

/* line 34, ../sass/_flex-box.scss */
.col-top {
  vertical-align: top;
}

/* line 37, ../sass/_flex-box.scss */
.col-middle {
  vertical-align: middle;
}

/* line 40, ../sass/_flex-box.scss */
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  /* line 45, ../sass/_flex-box.scss */
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 51, ../sass/_flex-box.scss */
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 56, ../sass/_flex-box.scss */
  .col-xs-top {
    vertical-align: top;
  }

  /* line 59, ../sass/_flex-box.scss */
  .col-xs-middle {
    vertical-align: middle;
  }

  /* line 62, ../sass/_flex-box.scss */
  .col-xs-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 768px) {
  /* line 68, ../sass/_flex-box.scss */
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 74, ../sass/_flex-box.scss */
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 79, ../sass/_flex-box.scss */
  .col-sm-top {
    vertical-align: top;
  }

  /* line 82, ../sass/_flex-box.scss */
  .col-sm-middle {
    vertical-align: middle;
  }

  /* line 85, ../sass/_flex-box.scss */
  .col-sm-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 992px) {
  /* line 91, ../sass/_flex-box.scss */
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 97, ../sass/_flex-box.scss */
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 102, ../sass/_flex-box.scss */
  .col-md-top {
    vertical-align: top;
  }

  /* line 105, ../sass/_flex-box.scss */
  .col-md-middle {
    vertical-align: middle;
  }

  /* line 108, ../sass/_flex-box.scss */
  .col-md-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 1200px) {
  /* line 114, ../sass/_flex-box.scss */
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 120, ../sass/_flex-box.scss */
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 125, ../sass/_flex-box.scss */
  .col-lg-top {
    vertical-align: top;
  }

  /* line 128, ../sass/_flex-box.scss */
  .col-lg-middle {
    vertical-align: middle;
  }

  /* line 131, ../sass/_flex-box.scss */
  .col-lg-bottom {
    vertical-align: bottom;
  }
}
