<b>Equipe Lapidários,
</br></br>
<p>Gostaria que entrasse em contato comigo.</p>
</br></br>
<p>Estarei no aguardo</p>
</br></br>
<p><b>Nome:</b> $nome</p>
<p><b>Email:</b> $email</p>
<p><b>Celular:</b> $celular</p>
<p><b>UF:</b> $uf</p>
<p><b>Cidade:</b> $cidade</p>
</br></br>
<p>Forte abraço.</p>
